* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #deeefe;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0.5em 0;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 90%;
  max-width: 500px;
  min-height: 36rem;
  margin: auto;
  border-radius: 4px;
  padding: 1em;
  text-align: center;
}

.close {
  font-size: 1.25rem;
  margin-left: auto;
  text-align: right;
  cursor: pointer;
  width: 1rem;
}

.button-container {
  margin: 3em auto;
  width: 70%;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
  margin: auto;
  height: 3rem;
  width: 100%;
  margin: 0.5em 0;
  background-color: white;
  border: 2px solid rgb(211, 209, 209);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(251, 249, 245);
}

.logo {
  width: 20px;
}

.open-button {
  height: 6rem;
  width: 90%;
  margin: 20vh auto;
  font-size: 3rem;
  display: block;
  border-radius: 25px;
  border: 1px solid gray;
}

.opt-out {
  display: flex;
  gap: 0.5em;
  margin-top: 2em;
  margin-bottom: 3em;
}

.sign-in {
  color: #1f7abc;
}
